* {
  text-align: center;
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding : 0;
}
.bgimg-1, .bgimg-2{
  position: relative;
  opacity: 0.70;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url(../images/forrest.png);
  min-height: 100%;
  height: 800px:
}
.bgimg-2 {
  background-image: url(../images/beach.jpg);
  min-height: 100%;
}
.container {
  opacity: 0.7;
  position: relative;
  right: 0;
  height: 20%;
  top: 275px;
}
.about {
  position: relative;
  top:25px;
  margin: 40px;
  padding: 5px 40px;
  font: 20px arial, sans-serif;
  color: black;
  text-align: center;

}
.greeting {
  position: relative;
  top:260px;
  font: 34px arial, sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}
nav li {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

nav li {
  list-style: none;
  margin: 1%;
  padding: 1%;
}

.profile p {
  height: 100%;
  margin: 0;
}

.contact h3 {
    margin-top: 2%;
}

.contact ul {
    margin-bottom: 6%;
}

.contact ul li {
    list-style: none;
    margin: 2%;
    padding: 0%;
    border-radius: 5%;
}


footer {
  margin: 10px auto;
  padding-bottom: 10px;
  font-weight: bold;
  max-width: 90%;
}

.left {
  float: left;
  display: inline-block;
  margin: 0px;
  padding-left: 4.5%;
}

.right {
  float: right;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
}

nav ul, .contact a {
  padding: 0;
  font-weight: bold;
}


.color {
    padding-top: 2%;
  }

.lower {
    margin-top: 3%;
  }


  @media(max-width:767px) {
    body {
      font-size: 1.25em;
    }
    .portfolio{
      margin: 0;
    }
    p {
      margin: 7%;
    }

    h1 {
      margin: 5%;
    }

    nav li {
      list-style: none;
      background: white;
      margin: 2%;
      padding: 2%;
      border-radius: 5%;
    }

    header img {
      max-width: 80%;
    }

    img {
      max-width: 90%;
      padding-top: 3%;
      padding-bottom: 3%;
    }

    h4, p {
        text-align: center;
    }

    .large {
      display: none;
    }

    .contact h3 {
        margin-top: 7%;
    }
  }
@media(min-width:768px) {
  nav li {
    display: inline-block;
  }

  header img {
    float: right;
    width: 49%;
    padding: 0;
  }

  .col h4 {
    padding: 2%;
  }

  .col p {
    height: 50px;
    margin-bottom: 2%;

  }


  header p {
    height: 50%;
    text-align: center;
  }

  .container {
    color:  #111;
    background-color:#777;
  }

  header .top-col {
    height: 50%;
    padding-right: 3%;
  }

  .portfolio {
    width: 90%;
    margin: 0 auto;
  }

  .col-1 {
    float: left;
    width: 48%;
    padding-left: 5px;
    display: block;
  }
  .col-2 {
    float: right;
    width: 48%;
    display: block;
  }

  img {
    padding-top: 5%;
  }

  .contact h3 {
      margin-top: 2%;
  }

  .contact p {
    margin: 0 5%;
  }

  .small {
    display: none;
  }

  .large {
    padding: 0 2%;
    display: inline-block;
  }

}

@media(min-width:1024px) {
  body {
    font-size: 1.75em;
  }
  .bgimg-1{
  height: 800px;
  }
  .bgimg-2{
  height: 1000px;
  }
  nav ul {
    float: right;
    display: inline-block;
    width: 50%;
  }

  .portfolio {
    position: relative;
    top: 75px;
  }

  .col p {
    height: auto;
  }

  .portfolio h4 {
    padding: 2%;
    display: block;
    font:
  }

  .row-1, .row-2 {
    display: inline-block;
    padding: 40px 0;
    position: relative;
    top: 100px;
  }

  .primary {
    width: 33%;
    float: left;
  }

  .secondary {
    width: 33%;
    float: left;
  }

  .terciary {
    width: 33%;
    float: left;

  }
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
